:root{
    --font-s: 0.85em;
    --font-m: 1em;
    --font-l: 1.5em;
    --font-xl: 3em;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    margin: 0;

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'sidebar topbar'
    'sidebar dashboard';

    background-color: #D3D3D3;
}

ul{
    padding: 0;
}



/* ========SIDEBAR======== */
.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr repeat(10, 1fr);
    grid-template-areas: 
    'icon brand'
    
    'icon text'
    'icon text'
    'icon text'
    'icon text'
    'icon text'
    'icon text'
    'icon text'
    'icon text'
    'icon text';



    color: white;
    background-color: #1A92D3;
   
}

.sidebar-text{
    grid-area: text;
}

.sidebar li{
    list-style-type: none;
}



.sidebar a.sidebar-item, .sidebar a.branding {
    padding: 12px 12px 12px 24px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar a.sidebar-item{
    gap: 1.5em;
    font-weight: 600;
}
.sidebar a.branding {
    gap: 1em;
    font-size: var(--font-l);
    font-weight: 600;

    display: flex;
}

.sidebar ul{
    margin-bottom: 100px;
}


.sidebar a.sidebar-item svg{
    aspect-ratio: 1 / 1;
    height: 18px;
    fill: white;

    grid-area: icon;
}

.sidebar a.branding svg{
    aspect-ratio: 1 / 1;
    height: 24px;
    fill: white;

    grid-area: icon;
}






/* ============================ */

.top-bar{
    grid-area: topbar;
    background-color: white;

    height: 100px;
    width: 100%;
}

.dashboard{
    grid-area: dashboard;
    background-color: #D3D3D3;
}