:root{
    --font-s: 0.85em;
    --font-m: 1em;
    --font-l: 1.5em;
    --font-xl: 3em;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    margin: 0;

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'sidebar topbar'
    'sidebar dashboard';

    background-color: #D3D3D3;
}

ul{
    padding: 0;
}



/* ========SIDEBAR======== */
.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    color: white;
    background-color: #1A92D3;
   
}

.sidebar-text{
}

.sidebar li{
    list-style-type: none;
}



.sidebar a.sidebar-item, .sidebar a.branding {
    padding: 12px 12px 12px 24px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar a.sidebar-item{
    gap: 1.5em;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.sidebar a.branding {
    margin: 12px 0;
    
    gap: 0.5em;
    font-size: var(--font-l);
    font-weight: 600;

    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar ul{
    margin-bottom: 80px;
}


.sidebar a.sidebar-item svg{
    aspect-ratio: 1 / 1;
    height: 18px;
    fill: white;

    grid-area: icon;
}

.sidebar a.branding svg{
    aspect-ratio: 1 / 1;
    height: 24px;
    fill: white;

    grid-area: icon;
}

.sidebar ul a:hover svg, .sidebar ul a:hover .sidebar-text{
   color: rgb(6, 65, 109);
   fill: rgb(6, 65, 109);
   transition-duration: 200ms;
}






/* ============================ */
/* ==========TOP BAR========== */

.top-bar{
    grid-area: topbar;
    background-color: white;

    height: 100px;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search{
    display: flex;
    padding: 16px 20px;
    gap: 8px;
}

.search input{
    width: 80%;
    height: 100%;
    border-radius: 12px;
    background-color: #E2E8F0;
    border: none;
}

.search svg{
    aspect-ratio: 1 / 1;
    height: 20px;
}




.dashboard{
    grid-area: dashboard;
    background-color: #D3D3D3;
}