html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


main{
    display: flex;
}
body{
    margin: 0;
}


.banner{
    background-image:url("form-bg.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
    flex: 1;
    height: 100vh;    

}

.form-section{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: whitesmoke;
    

}

.input-section{
    background-color: white;
    box-shadow: 0px 4px 4px rgb(212, 212, 212);
    padding: 12px 12px 12px 40px;
    
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: column;
}

.input-section p{
    display: flex;
    gap: 20px;
    margin: 12px 0px;
}

input{
    margin-bottom: 4px;
    width: 180px;
    border-radius: 4px;
    border: rgb(202, 202, 202) 1px solid;
}
input:focus{
    border-color: rgb(92, 160, 208);
}


button{
    padding: 12px;
    margin: 32px 32px 32px 40px;
    color: whitesmoke;
    background-color: teal;
    border-radius: 6px;
    border: none;
}

a{
    text-decoration: none;
    color: rgb(4, 77, 77);
}
form > p {
    margin: 0;
    padding-left: 40px;
}